Package: com.mrgcgamer.nodndbanner
Name: NoDNDBanner
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: MrGcGamer
Author: MrGcGamer
Section: Tweaks
